version: "3.9"
services:
  mongodb:
    container_name: mongodb
    image: mongo:7.0
    restart: unless-stopped
    volumes:
      # - ./backend/data:data
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s
  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./backend/.env.sample
    ports:
      - "5000:5000"
    volumes:
      - logs:/app/logs
      - ./backend:/app
      - /app/node_modules
    depends_on:
      mongodb:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      # start_period: 30s
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file:
      - ./frontend/.env.sample
    ports:
      - "5173:3000"
    volumes:
      - ./frontend:/frontend
      - ./frontend/node_modules
      # - ./frontend/src:/app/src
    depends_on:
      - backend
volumes:
  logs:
